api_rest/__pycache__/*
crud/__pycache__/*
crud/migrations/__pycache__/*
crud/libs/__pycache__/*
crud/fixtures/crud_fixtureAuto_*
crud/fixtures/crud_prefixture_*
toolbox/fixture_converter-timeseries_csv/input/time_series/full_sets/*
.env
