asgiref
certifi
dj-database-url
Django
django-cors-headers
django-filter
django-heroku
django-installed-apps-command
djangorestframework
djongo
dnspython
gunicorn
importlib-metadata
Markdown
pandas
psycopg2
pymongo
pytz
scipy
sqlparse
whitenoise
zipp
